.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

header {
  display: block;
}

h1 {
  width: 100%;
}

.list {
  min-width: 250px;
  max-width: 500px;
}

.card-header {
  display: flex;
  align-items: center;
}

button {
  margin-left: auto;
}

img {
  height: 48px;
  width: 48px;
  margin-right: 30px;
}

.link {
  color: #61dafb;
}
